/* login.css */

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-container {
  flex: 1;
  background-image: url('../../imgs/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start; /* Alinea el contenido en la parte superior */
  justify-content: center;
}

.footer {
  margin-top: auto;
}