.custom-navbar-bg {
  background-color: #FFF0F3;  
}
.button-margin {
  margin-right: 10px;
}
.custom-button {
  background-color: #ED8B01;
  border-color: #ED8B01;
  color: #fff; 
  font-family: 'Abel', sans-serif; 
  border-radius: 20px; 
}