/* En tu archivo footer.css */

.footer {
  position: sticky; /* Cambia 'fixed' a 'sticky' */
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-bar {
  background-color: #FFF0F3;
}

.footer-link {
  color: #ED8B01 !important;
  text-align: center;
}

/* Puedes eliminar la altura fija si no es necesaria */
.footer {
  /* height: 60vh; */
} 